/* TEXT */

.text-rem-1-6 {
  font-size: 1.6rem;
}

.text-24 {
  font-size: 24px;
}
.text-18 {
  font-size: 18px;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
.text-12 {
  font-size: 12px;
}

/* DECORATIONS */

.underline {

}

/* BACKGROUND */

body{
  background-color: #f4f5fa !important;
}